/*
JOSEPH P. PASAOA
AddShowForm Page Component CSS | Bingebook (a full-stack binge-facilitating app)
*/


.addshow--form {
    margin-bottom: 11px;
}

.addshow--form button {
    padding: 1px 11px;
    border-radius: 16px;
    margin: 0px 2px;
    box-shadow: 0px 1px 3px #aaa;

    font-size: 0.9em;
}

.addshow--input-txt {
    border-radius: 3px;
    padding: 1px 7px;

    font-size: 0.9em;
}

.addshow--msg-error {
    height: 18px;
    color: maroon;
}

.addshow--results {
    font-size: 0.9em;
}