/*
JOSEPH P. PASAOA
AddShowForm Page Component CSS | Bingebook (a full-stack binge-facilitating app)
*/


.addshow--form {
    margin-bottom: 11px;
}

.addshow--form button {
    position: relative;
    top: -3px;

    margin: 0px 2px;
}

.addshow--input-txt {
    border-radius: 3px;
    padding: 2px 7px;
    width: 211px;
    margin-right: 3px;

    font-size: 0.9em;
}

.addshow--msg-error {
    height: 18px;
    color: maroon;
}

.addshow--results {
    font-size: 0.9em;
}