/*
JOSEPH P. PASAOA
ShowsList Page CSS | Bingebook (a full-stack binge-facilitating app)
*/


.shows-container--flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    padding: 50px 5px 50px 100px;
    border-top: solid 22px #d8c3c3;
    border-bottom: solid 22px #d8c3c3;
}