/*
JOSEPH P. PASAOA
ShowsList Page CSS | Bingebook (a full-stack binge-facilitating app)
*/


.list-shows--container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}