/*
JOSEPH P. PASAOA
Logo Component CSS | Bingebook (a full-stack binge-facilitating app)
*/


a.logo--container {
    margin: 0px 14px;

    text-decoration: none;
    background-color: transparent;
}

p#logo {
    width: 228px;
    height: 68px;
    padding: 0px 6px;

    font-family: 'Cookie', cursive;
    font-size: 3.75em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #000;
    background-color: #fff;
}
