/*
JOSEPH P. PASAOA
NavBar CSS | Bingebook (a full-stack binge-facilitating app)
*/


nav {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 110px;
    padding-top: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    border-top: solid 1px #222;

    background-color: #fff;
}

ul#navbar {
    position: relative;

    height: 80px;
    width: max-content;
    border-top: solid 2px #e6e6e6;
    margin: 13px 0px 0px 6px;
    padding: 3px 83px 3px 37px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    /* background-color: orange; */
}

ul#navbar a:link, ul#navbar a:visited {
    text-decoration: none;

    color: #000;
}

ul#navbar li {
    width: 150px;
    min-height: 28px;
    border: solid 1px #000;
    padding: 6px 3px;
    margin: 0px 2px;

    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
}

ul#navbar li#active-slide {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    z-index: -10;
    transition-property: opacity, transform;
    transition-duration: 1s,  0.25s;
    background-color: red;
    transform: translateX(154px);
}