/*
JOSEPH P. PASAOA
ShowCard Component CSS | Bingebook (a full-stack binge-facilitating app)
*/


li.card-show {
    width: 70%;
    padding: 9px 9px 33px 12px;
    border-bottom: solid 1px #000;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-show--img {
    width: 102px;
    height: 132px;
    object-fit: cover;
    border-radius: 1px;
    box-shadow: 2px 3px 3px #222;
    margin-right: 12px;
}

li.card-show h2 {
    color: maroon;
}

.card-show--header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-show--genres {
    margin: 3px 6px 3px 45px;
}

a.card-show--imdb-link:link, a.card-show--imdb-link:visited {
    margin: 3px 6px 3px 45px;

    font-size: 0.9em;
    text-decoration: none;
    color: blue;
    transition: color 0.25s;
}

a.card-show--watcher-link:link, a.card-show--watcher-link:visited {
    margin: 3px 0px;

    text-decoration: none;
    color: blue;
    transition: color 0.25s;
}

a.card-show--imdb-link:hover, a.card-show--imdb-link:active,
a.card-show--watcher-link:hover, a.card-show--watcher-link:active {
    color: goldenrod;
    text-decoration: underline;
}

ul.watchers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1px 0px 3px 45px;
    align-content: stretch;
    line-height: normal;
}

ul.watchers li {
    display: inline-block;
    width: max-content;
    font-size: 0.9em;
    margin-right: 5px;
}
