/*
JOSEPH P. PASAOA
UserCard Component CSS | Bingebook (a full-stack binge-facilitating app)
*/


.card-user {
    width: auto;
    padding: 9px 9px 9px 12px;
    border: 1px solid #444;
    border-radius:5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.card-user--avatar {
    width: 96px;
    height: 96px;
    object-position: left;
    object-fit: none;
    border-radius: 0px 12px 12px 0px;
    margin-left: 29px;
    border: 1px solid #ccc;
    border-width: 1px 0px 1px 3px;
    background-color: #fff;
}

.card-user--username {
    font-size: 1.4em;
    margin: 20px 6px 6px 30px;
    transition: color 0.3s;
}

.card-user--profile-link {
    margin: 0px 0px 18px 0px;

    text-decoration: none;
}
