/*
JOSEPH P. PASAOA
Client App MAIN CSS | Bingebook (a full-stack binge-facilitating app)
*/


body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 3.75em;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.4em;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9em;
}


html, body, div#root, .App, div#base-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  font-size: 1em;
}

div#base-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
}

footer {
  grid-row: 2;
  position: relative;
}

