/*
JOSEPH P. PASAOA
Client App MAIN CSS | Bingebook (a full-stack binge-facilitating app)
*/


body {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
}

h1 {
    /* page titles */
    position: fixed;
    bottom: 54px;
    left: 252px;
    width: max-content;
    z-index: 10;

    font-family: 'Cookie', cursive;
    font-size: 2.7em;
    padding: 3px;
    margin: 3px;
    text-shadow: 1px 3px 3px #999;
}

h2 {
    /* show headers */
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: maroon;
    margin: 11px 6px 6px 11px;
}

h3 {
    /* show years */
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9em;
    margin: 17px 6px 6px 8px;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9em;
}

strong {
    font-weight: bold;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div#root, .App {
    height: 100%;
    width: 100%;
}

ul, li {
    list-style: none;
}

.App {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;

    text-align: left;
    font-size: 1em;
}
