/*
JOSEPH P. PASAOA
Client INDEX CSS | Bingebook (a full-stack binge-facilitating app)
*/


/* FONT INITS 
font-family: 'Oxygen', sans-serif;
font-family: 'Cinzel', serif;         // headers
font-family: 'Poiret One', cursive;   // headers alternative
font-family: 'Cookie', cursive;       // Logo+Branding
*/

@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie/Cookie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Poiret One';
  src: url('./assets/fonts/Poiret_One/PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


/* COLOR THEME
?????
*/

body {
  margin: 0;
  font-family: 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
